@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm đoạn này */
:root, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw; /* Đảm bảo không bị giới hạn chiều ngang */
  overflow-x: hidden; /* Tránh thanh cuộn ngang không mong muốn */
}