name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ] # Hoặc nhánh bạn đang code
    paths:
      - 'Backend/auracontrol/**' # Chỉ chạy khi có thay đổi trong code Backend (đỡ tốn resource)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

          cache-dependency-path: Backend/auracontrol/pom.xml

      - name: Build with Maven

        working-directory: ./Backend/auracontrol
        run: mvn clean package -DskipTests

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:

          context: ./Backend/auracontrol
          push: true

          tags: justhoadoan/auracontrol-backend:latest